/*Link Normalize*/
@import './normalize';

/*Link Fonts*/
@import "shared/assets/fonts/fonts.scss";

.wrapper {
    background-color: $bg-color;
}

/*Link App*/
.app {
    font-family: Inter, Arial, sans-serif;
    background-color: $bg-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin: 0 auto;
    max-width: 1440px;
}
