.header {
  display: grid;
  width: 100%;
  grid-template-columns: $mobile-width;
  justify-content: center;
  row-gap: 50px;
  position: relative;
  background: linear-gradient(185deg, #FFEDBD , rgba(255, 255, 255, 0) 65%);
  padding-bottom: 40px;

  &__description {
    display: grid;
    justify-content: space-between;
    row-gap: 50px;
  }

  &__title {
    @include font-title($additional: true);
    margin: 0;
  }
}

.background {
  grid-template-columns: 100%;
  background: $bg-color;
  z-index: 4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
}

@include small-screen {
  .header {

    &__title {
      @include font-title-small;
    }
  }
}

@include desktop-screen {
  .header {
    row-gap: 100px;

    &__description {
      grid-template-areas:
        "title card"
        "button card";
      column-gap: 88px;
      padding-bottom: 120px;
    }

    &__title {
      max-width: 710px;
    }

    &__button {
      border-radius: 10px;
      width: 178px;
      height: 51px;
      align-self: end;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__title {
      @include font-title-large;
    }
  }
}
