//Шрифты
$font-family-title: TT Travels, Arial, sans-serif;
$font-size-t: 32px;
$font-line-t: 38px;
$font-size-t-small: 24px;
$font-line-t-small: 28px;
$font-size-t-large: 40px;
$font-line-t-large: 48px;
$font-weight-t: 600;

$font-family-paragraph: 'Inter', Arial, sans-serif;
$font-size-p: 16px;
$font-line-p: 19px;
$font-size-p-small: 14px;
$font-line-p-small: 16px;
$font-size-p-large: 20px;
$font-line-p-large: 24px;

$font-size-s: 14px;
$font-line-s: 17px;

//Ширина
$mobile-width: 90.7%;
$desktop-width: 86.1%;

//Отступы
$margin-auto: 0 auto;

//Цвета
$bg-color: #F2F2F5;
$font-percent-color: #00863F;
$font-color-t: #DE1251;

//Брэйкпоинты
$breakpoint-mobile: 420px;
$breakpoint-desktop: 1024px;
