.checkbox {
  @include checkbox-statics-form;
  width: 109px;
  min-height: 38px;
  margin-left: 20px;


  &__input {
    position: absolute;
    visibility: hidden;

    &:checked ~ .checkbox__label:after {
      transform: translateX(calc(100% - 2px));
    }

    &:checked + .checkbox__label .checkbox__currency_aed {
      color: #000;
    }

    &:checked + .checkbox__label .checkbox__currency_rub {
      color: #6B6B6D;
    }
  }

  &__label {
    @include label-absolute;

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 53px;
      height: 34px;
      background-color: #fff;
      border-radius: 8px;
      transition: transform 0.2s;
    }
  }

  &__currency {
    z-index: 1;

    &_rub {
      padding-left: 14px;
      color: #000;
    }

    &_aed {
      padding-right: 14px;
      color: #6B6B6D;
    }
  }
}

@include desktop-screen {
  .checkbox {
      margin: 0;
  }
}
