.cardsList {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px 140px;
  row-gap: 10px;
  column-gap: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
  }

  &__item:first-of-type {
    grid-column: span 2;
    position: relative;

  }

  &__header {
    @include font-subtitle;
    margin: 0;
    font-weight: 400;
    display: flex;
    max-width: 100px;
  }

  &__percent {
    margin: auto 0 0 0;
    font-size: 12px;
    line-height: 14px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: $font-percent-color;
    display: flex;
  }

  &__amount {
    @include font-title($additional: true);
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
    z-index: 1;
    display: flex;

    &_span {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__image {
    width: 292px;
    height: 140px;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@include desktop-screen {
  .cardsList {
    grid-row: span 2;
    grid-template-rows: 160px 160px;
    width: 442px;
    &__amount {
      @include font-title-large;
    }

    &__header {
      font-size: 17px;
      line-height: 20px;
      max-width: 181px;
    }
  }
}