.restaurants {

  &__title {
    @include font-title($additional: true);
    margin: 0;
  }

  &__paragraph {
    margin: 10px 0 0 0;
  }

  &__container {
    margin-top: 40px;
    padding: 20px;
    height: 497px;
    background-image: url("shared/assets/images/SushiVesla.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.switch {
  width: 98px;
  height: 54px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  backdrop-filter: blur(10px);

  &_place {
    width: 100%;
    height: 49px;
  }

  &__input {
    display: none;

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }
  }

  &__label {
    z-index: 2;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &_place {
      width: 113px;
      color: $font-color-t;
      font-family: $font-family-paragraph;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      letter-spacing: -0.3px;
    }
  }

  &__logo {
    width: 24px;
    height: 24px;
  }

  &__round {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 5px;
    border-radius: 100px;
    background-color: rgba(222, 18, 81, 1);
    z-index: 1;
    transition: transform 0.3s;

    &_place {
      width: 32.5%;
      height: 39px;
    }
  }
}

//Компонент переиспользуемый поэтому выношу сюда анимацию
//Для компонента Restaurant
.switch__input {

  &[id="blin-bery"]:checked ~ .switch__round{
    transform: translateX(0);
  }

  &[id="sushi-vesla"]:checked ~ .switch__round{
    transform: translateX(42px);
  }
}

//Для компонента Place
.switch__input[id="street"]:checked ~ .switch__label_street {
  color: #fff;
  font-weight: 400;
}

.switch__input {

  &[id="street"]:checked ~ .switch__round_place {
    transform: translateX(0);
  }

  &[id="street"]:checked ~ .switch__label_street {
    color: #fff;
    font-weight: 400;
  }

  &[id="court"]:checked ~ .switch__round_place {
    transform: translateX(100%);
  }

  &[id="court"]:checked ~ .switch__label_court {
    color: #fff;
    font-weight: 400;
  }

  &[id="kitchen"]:checked ~ .switch__round_place {
    transform: translateX(200%);
  }

  &[id="kitchen"]:checked ~ .switch__label_kitchen {
    color: #fff;
    font-weight: 400;
  }
}

@include desktop-screen {
  .restaurants {
    display: grid;
    grid-template-columns: 324px 1fr;
    grid-template-areas:
      "title restaurant"
      "subtitle restaurant";
    column-gap: 94px;

    &__title {
      @include font-title-large;
    }

    &__paragraph {
      font-size: 18px;
      line-height: 22px;
      align-self: end;
      margin: 0;
    }

    &__container {
      grid-row: span 2;
      grid-area: restaurant;
      margin: 0;
    }
  }

  .switch {
    border-radius: 10px;
    &_place {
      width: 63.5%;
      height: 52px;
    }

    &__round {
      border-radius: 10px;
      height: 44px;
    }

    &__label {
      column-gap: 10px;
      &_place {
        width: 32.5%;
      }
    }
  }
}
