.burger {
  opacity: 0;
  position: absolute;
  background: $bg-color;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  transform: translateX(3000px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 20px;

  &__navigation {
    display: flex;
    flex-direction: column;
    width: $mobile-width;
    row-gap: 10px;
  }

  &__button {
    height: 56px;
  }
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0);
  opacity: 1;
  top: 76px;
}
