.article {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: $font-family-paragraph;
  box-sizing: border-box;

  &_inverted {
    width: 347px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    letter-spacing: -0.6px;
  }

  &__subtitle {
    @include font-paragraph;
    margin: 10px 0 0 0;
    letter-spacing: -0.5px;
  }

  &__author {
    @include list-reset;
    display: flex;
    column-gap: 10px;
  }

  &__theses {
    @include font-subtitle;
    background: $bg-color;
    padding: 10px 20px;
    border-radius: 55px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__button {
    padding: 9px 0;
  }
}

@include desktop-screen {
  .article {
    max-width: 823px;

    &__title {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -1.2px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }

    &__author {
      flex-direction: column-reverse;
      row-gap: 5px;
      position: relative;

      &_inverted {
        width: 100%;
      }
    }

    &__theses {
      font-size: 18px;
      line-height: 22px;
      color: #000;
      &_name {
        background: none;
        color: rgba(0, 0, 0, 0.5);
        padding: 0;
      }

      &_add {
          text-align: center;
      }

      &_inverted {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &_inverted {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 347px;
    }

    &__data {
      font-size: 18px;
      line-height: 22px;
    }
  }
}