.footer {
  width: 100%;
  display: grid;
  grid-template-columns: $mobile-width;
  justify-content: center;
  background: linear-gradient(170.00deg, rgba(255, 255, 255, 0) 40%,rgb(255, 237, 189) 114.303%);
  padding: 40px 0;

  &__container {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    }

  &__navbar {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    mix-blend-mode: luminosity;
  }

  &__vk {
    margin-left: auto;
  }

  &__contacts {
    @include list-reset;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2F3437CC;
  }

  &__socials {
    display: flex;
    column-gap: 24px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.5;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

@include small-screen {
  .footer {

    &__contacts {
      font-size: 12px;
    }

    &__socials {
      column-gap: 10px;
    }
  }
}

@include desktop-screen {
  .footer {
    grid-template-columns: $desktop-width;
    padding: 80px 0;

    &__container {
      row-gap: 10px;
    }

    &__socials {
      display: flex;
      column-gap: 24px;
    }

    &__navbar {
      flex-direction: column;
      row-gap: 20px;
    }

    &__vk {
      margin: 0;
    }

    &__tg {
    }

    &__yt {
    }

    &__contacts {
      flex-direction: row;
      justify-content: space-between;
    }

    &__contact {
      flex-direction: row;
    }

    &__address {
      position: absolute;
      right: 20px;
      bottom: 20px;
      align-items: end;
    }
  }
}
