.blog {
  display: grid;
  row-gap: 40px;

  &__title {
    margin: 20px 0 0 0;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
    position: relative;
  }
}

@include desktop-screen {
  .blog {

    &__title {
      margin: 0;
    }

    &__list {
      margin-bottom: 0;
    }
  }
}
