.founder {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
  row-gap: 20px;

  &__person {
    @include list-reset;
    align-self: end;
    height: min-content;
  }

  &__name {
    font-family: $font-family-paragraph;
    font-size: 32px;
    line-height: 35px;
    font-weight: 500;
    color: $font-color-t;
    letter-spacing: -1px;
  }

  &__position {
    @include font-paragraph;
    letter-spacing: -0.5px;
  }

  &__quote {
    @include font-title($additional: true);
    margin: 0;
    grid-column: span 2;
    letter-spacing: -1px;
  }
}

@include desktop-screen {
  .founder {
    column-gap: 79px;
    row-gap: 10px;

    &__avatar {
      grid-row: span 2;
    }

    &__position {
      font-size: 20px;
      line-height: 24px;
    }

    &__quote {
      @include font-title-large;
      grid-column: 2;
    }
  }
}