.development {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  height: max-content;

  &__list {
    @include list-reset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    background: $font-color-t;
    color: #fff;
    padding: 20px;
    border-radius: 18px;
  }

  &__header {
    font-family: $font-family-paragraph;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
  }

  &__about {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: auto;
  }

  &__loader {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &__others {
    @include list-reset;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 20px;
  }

  &__invention {
    font-family: $font-family-paragraph;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}