.team {
  display: grid;
  grid-template-areas:
          "title"
          "team"
          "button";
  row-gap: 40px;

  &__title {
    margin: 0;
  }

  &__paragraph {
    margin: 10px 0 0 0;
  }

  &__persons {
    @include list-reset;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@include desktop-screen {
  .team {
    display: grid;
    row-gap: 0;

    &__description {
      order: -2;
      position: relative;
    }

    &__paragraph {
      max-width: 690px;
    }

    &__button {
      order: -1;
      width: 249px;
      height: 44px;
      align-self: end;
      justify-self: end;
      padding: 10px 15px;
    }

    &__persons {
      flex-direction: row;
      column-gap: 11px;
      grid-column: span 2;
      margin: 37px 0 0 0;
    }
  }
}
