.restaurant {
  @include font-paragraph;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  padding: 10px;
  letter-spacing: -0.5px;

  &__index {
    width: 24px;
    margin: 0;
  }

  &__description, &__proceeds {
    @include list-reset;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__description {
    margin-right: auto;
  }

  &__point {
    opacity: 0.2;
  }

  &__proceeds {
    @include list-reset;
    text-align: right;
  }

  &__city {
    opacity: 0.5;
  }

  &__percent {
    color: #49CF1A;
  }
}

@include desktop-screen {
  .restaurant {
    font-size: 18px;
    line-height: 22px;
    column-gap: 10px;
    padding: 15px 20px;

    &__index {
      width: 40px;
    }

    &__description {
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      column-gap: 10px;
    }

    &__serial {
      max-width: 67px;
      flex-grow: 1;
    }

    &__proceeds {
      flex-direction: row;
      column-gap: 10px;

    }

    &__income {
      width: 123px;
      text-align: start;
    }

    &__street {
      max-width: 265px;
      flex-grow: 1;
    }

    &__city {
      margin-right: auto;
    }
  }
}
