.location {
  display: grid;
  grid-template-areas:
    "title"
    "video"
    "description";
  row-gap: 40px;

  &__title {
    display: grid;
    grid-area: title;
    margin: 0;
    text-align: center;
  }

  &__video {
    display: grid;
    grid-area: video;
    min-height: 650px;
    object-fit: cover;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7) url("shared/assets/images/SushiVesla.jpeg") center;
    background-size: cover;
    background-blend-mode: overlay;
    justify-content: center;
    align-items: center;
  }

  &__button {
    @include button-reset;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 62px;
      height: 62px;
      background: #DE1251;
      border-radius: 100px;
    }
  }

  &__play {
    z-index: 1;
  }

  &__list {
    @include list-reset;
    display: grid;
    grid-area: description;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }

  &__item {
    position: relative;

    &:last-of-type {
      grid-column: span 2;
      @include font-paragraph;
      letter-spacing: -0.5px;
    }
  }

  &__amount {
    @include font-title($additional: true);
    margin: 0;
    letter-spacing: -1px;
  }

  &__subtitle {
    @include font-subtitle;
    margin: 5px 0 0 0;
  }

  &__live {
    //Вес шрифта
    @include font-subtitle;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 45px;
    width: 51px;
    height: 24px;
    background: $font-color-t;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include desktop-screen {
  .location {
    grid-template-columns: minmax(200px, 526px) minmax(200px, 526px);
    grid-template-areas:
    "video title"
    "video ."
    "video description";
    column-gap: 188px;

    &__video {
      min-height: 698px;
    }

    &__title {
      @include font-title-large;
      text-align: start;
    }

    &__list {
      grid-auto-flow: revert;
      gap: 40px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 19px;
    }

    &__item {

      &:last-of-type {
        font-size: 20px;
        line-height: 24px;
        order: -1;
      }

      &:nth-of-type(2) {
        margin-left: -40px;
      }
    }

    &__amount {
      font-size: 48px;
      line-height: 58px;
      font-weight: 500;
    }
  }
}
