.cities {
  display: grid;

  &__title {
    margin: 0;
  }

  &__paragraph {
    @include font-paragraph;
    margin: 20px 0 0 0;
    letter-spacing: -0.5px;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.table {
  padding-top: 40px;

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 64px;
    background: #FFF;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Inter', Arial, sans-serif;
  }

  &__sort {
    background: $bg-color;
    width: 100%;
    border: none;
    border-radius: 10px;
    min-height: 44px;
    padding: 12px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__body {
    @include list-reset;
    margin: 10px 0 20px 0;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    row-gap: 20px;
    column-gap: 10px;

  }

  &__city {
    @include font-subtitle;
    display: flex;
    align-items: center;
  }
}

.switch {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 16px;
  line-height: 24px;

  &__input {
    display: none;
  }

  &__label {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33%;
  }

  &__round {
    position: absolute;
    width: 33%;
    height: 44px;
    left: 5px;
    border-radius: 10px;
    background-color: $bg-color;
    z-index: 1;
    transition: transform 0.3s;

  }
}

.switch__input {

  &[id="all"]:checked ~ .switch__round {
    transform: translateX(0);
  }

  &[id="all"]:checked ~ .switch__label_all {
    color: $font-color-t;
  }

  &[id="negotiation"]:checked ~ .switch__round {
    transform: translateX(100%);
  }

  &[id="negotiation"]:checked ~ .switch__label_negotiation {
    color: $font-color-t;
  }

  &[id="free"]:checked ~ .switch__round {
    transform: translateX(200%);
  }

  &[id="free"]:checked ~ .switch__label_free {
    color: $font-color-t;
  }
}


@include desktop-screen {
  .cities {
    grid-template-columns: minmax(200px, 347px) 1fr;
    grid-template-areas:
      "title table"
      "paragraph table"
      "button table";
    column-gap: 70px;
    row-gap: 19px;
    &__title {
      @include font-title-large;
    }

    &__paragraph {
      font-size: 18px;
      line-height: 22px;
      max-width: 330px;
      margin: 0;
    }

    &__button {
      width: 268px;
      height: 56px;
      padding: 15px 19px;
    }
  }

  .table {
    padding: 0;
    grid-area: table;

    &__body {
      grid-template-columns: repeat(auto-fit, 248px);
      margin-bottom: 0;
    }

    &__head {
      border-radius: 10px;
      min-height: 52px;
      padding: 0;
      align-items: normal;
    }

    &__city {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
