.welcome {
    min-height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    &__title {
        position: relative;
        z-index: 1;
        margin: 0;
        color: rgb(255, 228, 122);
        font-size: 80px;
    }

    &__subtitle {
        position: relative;
        z-index: 1;
        margin: 0;
        font-size: 24px;
        color: rgb(255, 228, 122);
        font-weight: 500;
    }

    &__list {
        z-index: 1;
        display: flex;
        column-gap: 10px;
    }

    &__link {
        font-size: 17px;
        font-weight: 600;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:first-of-type {
            background: rgb(255, 228, 122);
            color: rgb(51, 51, 51);

            &:hover {
                background: rgb(51, 51, 51);
                color: rgb(255, 228, 122);
            }
        }

        &:last-of-type {
            background: rgba(255,255,255, 0.6);
            color: black;

            &:hover {
                background: black;
                color: rgba(255,255,255, 0.6);
            }
        }
    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        background: url("shared/assets/images/background.jpg") no-repeat;
        background-size: cover;
        height: 700px;
        width: 100%;
    }
}

.strength {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__title {
        margin: 0;
        color: rgb(255, 228, 122);
        font-size: 40px;
        padding: 0 20px;
    }

    &__list {
        @include list-reset;
        display: flex;
        column-gap: 30px;

    }

    &__item {
        color: white;
        font-size: 20px;
        line-height: 40px;
        opacity: 0.9;
    }

    &__cards {
        @include list-reset;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        column-gap: 40px;
    }

    &__card {
        background: #007261;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding: 30px;
    }

    &__picture {
        width: 240px;
        height: 240px;
        border-radius: 10px;
    }

    &__text {
        color: white;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }
}

.connection {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 20px;

    &__title {
        color: rgb(255, 228, 122);
        font-size: 50px;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &__container {
        display: flex;
        column-gap: 20px;
    }

    &__input {
        @include input-reset;
        background: white;
        border-radius: 10px;
        padding: 15px;
        font-size: 20px;
        width: 100%;
    }

    &__textarea {
        border: none;
        outline: none;
        cursor: pointer;
        height: 150px;
        background: white;
        border-radius: 10px;
        padding: 15px;
        font-size: 20px;
    }

    &__button {
        @include button-reset;
        font-size: 20px;
        border-radius: 10px;
        background: rgb(255, 228, 122);
        padding: 20px;
        color: rgb(0, 89, 76);
        font-weight: 700;
        box-sizing: border-box;
        border: 2px solid rgb(255, 228, 122);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: rgb(255, 228, 122);
            background: rgb(0, 89, 76);
        }
    }
}
