.navbar {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  height: 56px;

  &__burger {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__list {
    @include list-reset;
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    @include font-paragraph;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.width {
  width: $mobile-width;
  justify-self: center;
}


@include desktop-screen {
  .navbar {
    padding-bottom: 20px;
    height: 90px;

    &__burger {
      display: none;
      visibility: hidden;
    }

    &__list {
      display: flex;
      column-gap: 20px;
      margin-left: auto;
    }
  }
}
