
.table {
  padding-top: 40px;

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    min-height: 166px;
    background: #FFF;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Inter', Arial, sans-serif;
  }

  &__month, &__year {
    width: 100%;
  }

  &__body {
    @include list-reset;
    margin: 10px 0 20px 0;
    border-radius: 20px;
    padding: 10px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    column-gap: 10px;

  }

  &__city {
    @include font-subtitle;
    display: flex;
    align-items: center;
  }
}

@include desktop-screen {

  .table {
    padding: 40px 0 40px 0;

    &__head {
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      column-gap: 20px;
      min-height: 56px;
      box-sizing: border-box;
    }

    &__month {
      width: 220px;
    }

    &__year {
      width: 115px;
      margin: 0 auto 0 0;
    }

    &__body {
      padding: 10px 0 0 0;
      margin: 12px 0 0 0;
    }
  }
}
